.title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.subtitle {
    display: block;
    margin: 0 auto;
    margin-top: 17px;
    text-align: center;
    width: 879px;
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 300;
}