.video {
    padding: 163px 0px 163px 0px;
    background: url(../../image/video/bg.png) center (center/cover) no-repeat;
    &__link {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}