html {
    font-family: Roboto, sans-serif;
}
body {
    margin-top: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

// import libs

@import '../libs/fonts';

// import sections

@import '../blocks/header';
@import '../blocks/features';
@import '../blocks/reasons';
@import '../blocks/screenshot';
@import '../blocks/carousel';
@import '../blocks/prices';
@import '../blocks/video';
@import '../blocks/reviews';
@import '../blocks/apps';
@import '../blocks/footer';

// import base

@import '../base/buttons';
@import '../base/titles';
@import '../base/media';